<h3>I am the Browser controller</h3>

<p id="browser"></p>
<input id="browserURL" size="60" type="text"/><input id="browserSetURL" type="button" value="Set URL"/>

<script>
	var Browser = App.subclass().name('Browser')
		.fields({
			url: null,
		})
		.constructor(function(config) {
			this._super(config);

			this.adjust();

			this.wrapFields({
				set url(url) { this._set(url); this.adjust(); },
			});
		})
		.methods({
			adjust: function() {
				$('#browser').html(this.url);
			},

			// This is remote called on the server, as specified by `shareState` below
			setBackgroundURL: function(url) {},

		})
		.shareState('own', ['setBackgroundURL'])
	;

	log.spyMethods(Browser);

	var browser = Browser.create();

	$('#browserURL').keypress(function(ev) { if (ev.which == 13) $('#browserSetURL').click(); });
	$('#browserSetURL').click(function() { browser.setBackgroundURL($('#browserURL').val()); });

</script>
