<h3>I am the VideoExplorer controller</h3>

<p id="videoexplorer"></p>
<!--input id="videoURL" size="60" type="text"/>
<input id="videoSetURL" type="button" value="Set URL"/-->

<script>
	var VideoExplorer = App.subclass().name('VideoExplorer')
		.fields({
			url: null,
		})
		.constructor(function(config) {
			this._super(config);

			this.adjust();

			this.wrapFields({
				set url(url) { this._set(url); this.adjust(); },
			});
		})
		.methods({
			adjust: function() {
				$('#videoexplorer').html(this.url);
			},

			// This is remote called on the server, as specified by `shareState` below
			setBackgroundURL: function(url) {},

		})
		.shareState('own', ['setBackgroundURL'])
	;

	log.spyMethods(VideoExplorer);

	var videoExplorer = VideoExplorer.create();

	//$('#videoURL').keypress(function(ev) { if (ev.which == 13) $('#videoSetURL').click(); });
	//$('#videoSetURL').click(function() { videoExplorer.setBackgroundURL($('#videoURL').val()); });

</script>
